window.__APP_CONFIG__ = {
  VITE_MAX_USER_GROUPS: "${VITE_MAX_USER_GROUPS}",
  VITE_BFF_BASE_URL: "${VITE_BFF_BASE_URL}",
  VITE_MAX_CLIENT_GROUPS: "${VITE_MAX_CLIENT_GROUPS}",
  VITE_DEFAULT_PAGE_SIZE: "${VITE_DEFAULT_PAGE_SIZE}",
  VITE_ADMINISTRATOR_GROUP: "${VITE_ADMINISTRATOR_GROUP}"
};